.idea/
.vscode/
node_modules/
.gitignore
.prettierignore
.prettierrc.json
.xmake.cfg
Jenkinsfile
README.md
CHANGELOG.md
CONTRIBUTING.md
renovate.json
ui5.yaml
ui5-local.yaml
ui5-mock.yaml
*.yaml
*.yml

Makefile*.mta
mta_archives
mta-*
