name: "Close stale issues"
on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          close-issue-message: "This issue has been automatically closed due to 2 weeks of inactivity. If you believe this was a mistake, please reopen or comment to continue the discussion."
          days-before-stale: -1
          days-before-issue-close: 14
          days-before-pr-close: -1
          stale-issue-label: "author action"
          remove-issue-stale-when-updated: true
          labels-to-remove-when-unstale: "author action"
